# Database
# For prototype (SQLite): file:./dev.db
DATABASE_URL="file:./dev.db"

# Auth (NextAuth v5)
AUTH_SECRET="CHANGE_ME_GENERATE_RANDOM_32_CHARS"
NEXTAUTH_URL="http://localhost:3000"

# App
NODE_ENV="development"
UPLOAD_DIR="public/uploads"
